@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #1E1E1E;
  font-weight: 400;
}

body {
  background: #ddd;
}

.app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
}

main {
  padding-top: 5rem;
  min-height: 80vh;
}

ul {
  list-style-type: none;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.grid {
  display: grid;
}
